.main-chat_messages_message{data: {id: message.id}}
  .main-chat_messages_message_upper-message
    .main-chat_messages_message_upper-message__user-name
      = message.user.name
    .main-chat_messages_message_upper-message__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .main-chat_messages_lower-message
    - if message.content.present?
      %p.lower-message_content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?