.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
  float: left;
  &_header {
    background-color: #253141;
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    padding:0 20px;
    &_box { 
      justify-content: space-between;
      display: flex;
      width: 100%;
      font-weight: bold;
      background-color: white;
      height: 20px;
      font-size: 16px;
        &_user_name {
          color:black;
        }
        &_menu {  
          display: flex;
          &_newgroup {
            argin-left: 0.3rem
          }
          &_edituser {
            argin-left: 0.3rem
          }
        }
    }}    
    
  .groups {
    width: 300px;
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    &_group {
      margin-bottom: 40px;
      &_group_name {
        color: #ffffff;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 5px;
      }
      &_latest-message {
        color: #ffffff;
        font-weight: bold;
        font-size: 11px;
      }
    }
  }
}